# Ignore scratch files
*~

# Ignore intermediate compiled files
*.pyc
*.pyo

# Ignore anything in the build, dist, or egg info directories.
build/*
dist/*
Strac.egg-info/*
tmp_env/*

# Utility batch or shell scripts for one-line deployment
# (platform- and system-specific)
deploy.*